/**
 * @see http://sass-lang.com/guide
 */
/* import */
html, body, ul, ol {
  margin: 0;
  padding: 0; }

body {
  margin: 10px 20px; }

/* Variables */
.var {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background: url(http://localhost:8080/style/scss/connect_732f5cf.png); }

/* Nesting */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

/* Mixins */
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

/* Extend/Inheritance */
.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }

/* Operators */
.container {
  width: 100%; }

article[role="main"] {
  float: left;
  width: 62.5%; }

aside[role="complimentary"] {
  float: right;
  width: 31.25%; }
